<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.TC_VideoGameAPI_Get"/>
      <class name="testCases.TC_putrequesttoupdateexisting"/>
      <class name="testCases.TC_deletearecord"/>
      <class name="testCases.TC_GetbasedonID"/>
      <class name="testCases.TC_VideoGamesAPI_Post"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
